form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input[type=file] {
  display: none;
  color: transparent;
}

label {
  border: 2px dashed #f0f0f0;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit] {
  border: none;
  padding: 10px 20px;
  background-color: #0078d4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #005a9e;
}

.file-upload {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 7em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  background-color: hsl(235deg 100% 99%);
  /* box-shadow: hsl(235deg 100% 78% / 30%) 0 25px 50px -12px; */
}
