<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://cdn.glitch.global/343e6495-330f-4443-8e57-3bf9de3c1c76/avatar.png?v=1688179675682">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form registration</title>
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}

    {% block main %}
      <div class="container" style="width: 80%;">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            {% if delete == True %}
              <a class="btn-close" href="{{ url_for('add_form') }}" role="button"></a>
            {% else %}
              <button type="buttosn" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
          </div>
          {% if delete == False %}
            <table class="bg-light table table-hover table-striped">
              {% for our_user_form in our_user_forms %}
                <tr>
                  <td>{{ our_user_form.id }}. {{ our_user_form.name }} - {{ our_user_form.email }} | {{ our_user_form.description }}</td>
                </tr>
              {% endfor %}
            </table>
            <div class="d-flex justify-content-between">
              <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Back to home</a>
              <div class="d-flex align-items-center ms-auto">
                {% for message in get_flashed_messages() %}
                  <a class="btn btn-primary" href="{{ url_for('add_form') }}" role="button">Back to form</a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% if name %}

        {% else %}
          <div class="shadow-sm p-3 mb-5 bg-light rounded">
            <h1>Fill in the form</h1>
            <br />
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.name.label(class = 'form-label') }}
              {{ form.name(class = 'form-control') }}
              {{ form.email.label(class = 'form-label mt-4') }}
              {{ form.email(class = 'form-control') }}
              {{ form.description.label(class = 'form-label mt-4') }}
              <textarea class="form-control" name="description" rows="5"></textarea>
              <br />
              {{ form.submit(class = 'btn btn-primary') }}
            </form>
          </div>
          <br /><br /><br />
          <table class="table table-hover table-striped">
            {% for our_user_form in our_user_forms %}
              <tr>
                <td class="d-flex justify-content-between">
                  {{ our_user_form.id }}. {{ our_user_form.name }} - {{ our_user_form.email }} | provisional diagnosis: {{ our_user_form.id }} 
                  <div class="d-flex align-items-center ms-auto">
                    <a class="badge rounded-pill btn btn-warning me-3 text-decoration-none text-dark"><i class="bi bi-hourglass-split"></i> Wait for the doctor to check</a>
                    <a href="{{ url_for('update_form', id = our_user_form.id) }}" type="button" class="badge rounded-pill btn btn-primary me-3 text-decoration-none"><i class="bi bi-pencil-fill"></i> Edit</a>
                    <a href="" type="button" class="badge rounded-pill btn btn-danger me-3 text-decoration-none" data-bs-toggle="modal" data-bs-target="#remove_form"><i class="bi bi-trash-fill"></i> Remove</a>
                  </div>
                </td>
              </tr>

              <!-- Modal -->
              <div class="modal fade" id="remove_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-dark">
                    <div class="modal-header text-white">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-white">Are you sure to remove this form permanently?</div>
                    <div class="modal-footer">
                      <a class="btn btn-outline-primary" href="{{ url_for('delete_form', id = our_user_form.id) }}" role="button">Remove now</a>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    {% endblock %}
  </body>
</html>