<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Diseases Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='uploader.css') }}">
</head>

<body>
    <!-- experience.html -->
    {% extends "base.html" %}

    <!-- content block -->
    {% block content %}
        <h1>Experience the app</h1>
        
        <div class="content">
            <!-- file uploader -->
            <div class="wrapper">
                <h1>File Uploader</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input class="file-input" type="file" name="file" accept=".png,.jpg,.jpeg,.gif">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <p>Browse File to Upload</p>
                    <input type="submit" value="Upload">
                </form>
                <section class="progress-area"></section>
                <section class="uploaded-area"></section>
            </div>
        </div>
    {% endblock %}

</body>
</html>