<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Response Form</title>
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}

    {% block main %}
      <div class="container" style="width: 80%;">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        {% if name %}

        {% else %}
          <h1>Fill in the response form</h1>
          <br />
          <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class = 'form-label') }}
            {{ form.name(class = 'form-control') }}
            <br />
            {{ form.submit(class = 'btn btn-primary') }}
          </form>
        {% endif %}
      </div>
    {% endblock %}
  </body>
</html>
