<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://cdn.glitch.global/343e6495-330f-4443-8e57-3bf9de3c1c76/SDD%20logo.png?v=1689302299743">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}
    <!-- content block -->
    {% block main %}
      <div class="container">
        <h1 class="fw-bold fs-3">Skin Diseases Detector <br> (Using Machine Learning and Telehealth to Detect and Treat Skin Diseases)</h1>
        

        <br> <br>
        <div class="row mt-4">
          <div class="col-sm-6">
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Ultimate Goal</h5>
                <p class="card-text">Skin diseases are conditions that affect your skin and may cause rashes, inflammation, itchiness or other skin changes. Some skin diseases are minor, while others can be serious and even life-threatening. One of the major complications...</p>
                <a href="{{ url_for('ultimate_goal')}}" class="btn btn-primary mt-4">Read now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Data Gathering</h5>
                <p class="card-text">The HAM10000 dataset is a large collection of multi-source dermatoscopic images of common pigmented skin lesions. More than 50% of lesions have been confirmed by pathology, while the ground truth for the rest of the cases was either...</p>
                <a href="{{ url_for ('data_gathering')}}" class="btn btn-primary mt-4">Read now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-6">
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Training process</h5>
                <p class="card-text">MobileNetV2 is a neural network architecture that is designed for efficient image classification on mobile devices. It is based on an inverted residual structure, where the input and output of each block are thin bottleneck layers... </p>
                <a href="{{ url_for('training_process') }}" class="btn btn-primary mt-4">Read now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Metrics and results</h5>
                <p class="card-text">The model is learning well from the data and has low error on both training and validation datasets. The learning curves of a well-fit model show high performance and a small gap between the training and validation...</p>
                <a href="{{ url_for('result_metrics')}}" class="btn btn-primary mt-4">Read now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
