<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li><div class="text-muted small fw-bold text-uppercase px-3">Home page</div></li>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts2">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Project Description</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts2">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="{{ url_for('ultimate_goal') }}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-flower3"></i></span>
                                        <span>Ultimate goal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-flower3"></i></span>
                                        <span>Dataset</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-flower3"></i></span>
                                        <span>Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-flower3"></i></span>
                                        <span>Results</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li><div class="text-muted small fw-bold text-uppercase px-3">Experience the app</div></li>
                    <li>
                        <a href="{{ url_for('edit_img') }}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-flower3"></i></span>
                            <span>Edit your image</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('experience') }}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-flower3"></i></span>
                            <span>Prediction now</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('add_form') }}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-flower3"></i></span>
                            <span>Send Response</span>
                        </a>
                    </li>
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <li><div class="text-muted small fw-bold text-uppercase px-3">For users</div></li>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>User guildance</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="{{ url_for('website_guildance')}}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-flower3"></i></span>
                                        <span>How to use this website</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('download_guildance')}}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-flower3"></i></span>
                                        <span>How to download this website</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>