<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://cdn.glitch.global/343e6495-330f-4443-8e57-3bf9de3c1c76/avatar.png?v=1688179675682">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ultimate goal</title>
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}
    <!-- content block -->
    {% block main %}
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="fw-bold fs-3">Ultimate Goal</h1>
            <p>Skin diseases are conditions that affect your skin and may cause rashes, inflammation, itchiness or other skin changes. Some skin diseases are minor, while others can be serious and even life-threatening. One of the major complications of some skin diseases is the increased risk of skin cancer, which is the uncontrolled growth of abnormal skin cells. Skin cancer can be caused by various factors, such as sun exposure, genetics, or infections.</p>
            <p>Many regions in the world have limited access to healthcare services, which makes it difficult for people to get timely and accurate diagnosis and treatment for their skin problems. This can lead to worsening of their condition, lower quality of life, and higher mortality rates.</p>
            <p>To address this issue, I have created a web application that uses machine learning to detect and classify seven of the most common and dangerous skin diseases: Actinic keratoses(akeic), Basal cell carcinoma(bcc), Benign keratosis (bkl), Dermatofibroma (df), Melanocytic nevi (nv), Melanoma (mel), and Vascular (vasc). The web application allows users to upload a picture of their skin lesion and get a provisional diagnosis from the AI model. The provisional diagnosis is not a substitute for a professional medical opinion, but rather a guidance tool that can help users understand their condition better and seek appropriate care.</p>
            <p>The web application also provides a telehealth service that connects users with doctors on my website who can review the provisional diagnosis from the AI model and give an accurate prescription. This way, users can get access to quality healthcare from anywhere in the world, without having to travel long distances or wait for appointments. The telehealth service also helps reduce the burden on the healthcare system and improve the efficiency and effectiveness of care delivery.</p>
            <p>My web application aims to empower people with skin diseases by providing them with information, education, and support. I hope that my web application can make a positive difference in the lives of millions of people who suffer from skin diseases and improve their health outcomes.</p>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='data_display.gif') }}" alt="gif">
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
