<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form updation</title>
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}

    {% block main %}
      <div class="container" style="width: 80%;">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        {% if name %}

        {% else %}
          <div class="shadow-sm p-3 mb-5 bg-light rounded">
            <h1>Edit form information</h1>
            <br />
            <form action="/update_form/{{ form_to_update.id }}" method="POST">
              {{ form.hidden_tag() }}
              {{ form.name.label(class = 'form-label') }}
              {{ form.name(class = 'form-control', value = form_to_update.name) }}
              {{ form.email.label(class = 'form-label mt-4') }}
              {{ form.email(class = 'form-control', value = form_to_update.email) }}
              {{ form.provisional_diagnosis.label(class = 'form-label mt-4') }}
              {{ form.provisional_diagnosis(class = 'form-control', value = form_to_update.provisional_diagnosis) }}
              <br />

              <div class="d-flex justify-content-between">
                {{ form.submit(class = 'btn btn-primary') }}
                <div class="d-flex align-items-center ms-auto">
                  {% for message in get_flashed_messages() %}
                    <a class="btn btn-primary" href="{{ url_for('add_form') }}" role="button">Back to form</a>
                  {% endfor %}
                </div>
            </div>
            </form>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </body>
</html>
