<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://cdn.glitch.global/343e6495-330f-4443-8e57-3bf9de3c1c76/avatar.png?v=1688179675682">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form updation</title>
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}

    {% block main %}
      <div class="container" style="width: 80%;">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        {% if name %}

        {% else %}
          <div class="shadow-sm p-3 mb-5 bg-light rounded">
            <h1>Edit form information</h1>
            <br />
            <form action="/update_form/{{ form_to_update.id }}" method="POST">
              {{ form.hidden_tag() }}
              {{ form.name.label(class = 'form-label') }}
              {{ form.name(class = 'form-control', value = form_to_update.name) }}
              {{ form.email.label(class = 'form-label mt-4') }}
              {{ form.email(class = 'form-control', value = form_to_update.email) }}
              {{ form.description.label(class = 'form-label mt-4', value = form_to_update.description) }}
              <textarea class="form-control" name="description" rows="5"></textarea>
              <br />

              <div class="d-flex justify-content-between">
                {{ form.submit(class = 'btn btn-primary') }}
                <a class="btn btn-danger ms-3" href="" role="button" data-bs-toggle="modal" data-bs-target="#remove_form">Remove</a>
                <div class="d-flex align-items-center ms-auto">
                  {% for message in get_flashed_messages() %}
                    <a class="btn btn-primary" href="{{ url_for('add_form') }}" role="button">Back to form</a>
                  {% endfor %}
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="remove_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-dark">
                    <div class="modal-header text-white">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-white">Are you sure to remove this form permanently?</div>
                    <div class="modal-footer">
                      <a class="btn btn-outline-primary" href="{{ url_for('delete_form', id = form_to_update.id) }}" role="button">Remove now</a>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </body>
</html>
